body {
	padding: 30px 0;
	background: #f2f2f2;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }

pre {
	margin: 20px 0;
	border-radius: 0;
	border: none;
	padding: 20px;
}

code {
	color: #333;
	background: #f5f5f5;
}

a, a:hover {
	color: #D45661;
}

.cp-docs-wrap {
	background: white;
}

.cp-docs-colors {
	display: inline-block;
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

.cp-docs-colors li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.cp-docs-colors li span {
	display: block;
	width: 200px;
	height: 40px;
	margin: 0;
	padding: 0;
}

.cp-docs-colors li {
	background: #f5f5f5;
	text-align: center;
	margin: 0 10px 10px 0;
	float: left;
}

.cp-docs-stars {
	color: #fc0;
}

.page-header {
	margin-top: 40px;
	padding-bottom: 0;
	padding-top: 20px;
}

.backtotop {
	font-size: 14px;
	color: #D45661;
	float: right;
	margin-top: 5px;
}

.backtotop:hover {
	text-decoration: none;
	color: #D45661;
}

.container .jumbotron {
	background: #D45661;
	color: white;
	border-radius: 0;
	margin-top:15px;
}

.container .jumbotron h1 {
	font-size: 30px;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
}

.container .jumbotron h1 span {
	font-size: 22px;
}

.container .jumbotron h2 {
	font-size: 22px;
}

.container .jumbotron a, .container .jumbotron a:hover {
	color: white;
	text-decoration: underline;
}

section {
	margin-bottom: 80px;
	padding: 20px 0;
}

section h2 {
	text-transform: uppercase;
	font-size: 26px;
	border-left: 5px solid #D45661;
	padding-left: 10px;
	color: #D45661;
}

.panel-heading {
	border: none;
	border-radius: 0;
}

.panel-default {
	border-color: #ddd;
	border-radius: 0;
}

.panel {
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.nav {
	background: #f2f2f2;
	border-bottom: 1px solid #ddd;
	margin-bottom: 60px;
}

.nav a {
	color: #333;
}

section .btn-default {
	border-radius: 0;
	background: #D45661;
	color: white;
	border: none;
	margin-bottom: 5px;
}

.panel-body ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.panel-body ul li {
	margin-bottom: 10px;
}

.cp-icons-list div {
	margin-bottom: 10px;
}

.cp-icons-list i {
	font-size: 18px;
	width: 30px;
}